<html>
<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}">
</head>
<body>
    <nav id="main_nav">
            <ul>
                 <li>
                    <a href="{% url 'welcome' %}">
                        Logo placeholder
                    </a>
                </li>
                <li>
                    <a href="">Dashboard</a>
                    <ul>
                        <li>
                            <a href="profile.html">Profile</a>
                            <ul>
                                <li><a href="groupcreate.html">View Profile</a>
                                </li>
                                <li><a href="groupmanage.html">Manage Profile</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="groups.html">Groups</a>
                            <ul>
                                <li><a href="groupcreate.html">Create Groups</a>
                                </li>
                                <li><a href="groupmanage.html">Manage Groups</a>
                                </li>
                                <li><a href="groupactive.html">View Active Groups</a>
                                </li>

                            </ul>
                        </li>

                        <li><a href="mcourses.html">Manage Courses</a>
                            <ul>
                                <li><a href="groupcreate.html">Subscribe to Courses</a>
                                </li>
                                <li><a href="groupmanage.html">Manage Subscribtions</a>
                                </li>
                                <li><a href="groupactive.html">View Active Subscriptions</a>
                                </li>

                            </ul>
                        </li>
                        <li><a href="settings.html">Settings</a>
                        </li>
                        <li><a href="support.html">Support</a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="">News</a>
                    <ul>
                        <li><a href="">Example</a>
                        </li>
                        <li><a href="">Example</a>
                        </li>
                        <li><a href="">Example</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="">Courses</a>
                    <ul>
                        <li><a href="">Law</a>
                        </li>
                        <li><a href="">Mathematics</a>
                        </li>
                        <li><a href="">Computing</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="">About us</a>
                    <ul>
                        <li>
                            <a href="whatwedo.html">What we do?</a>

                        </li>
                        <li>
                            <a href="aims.html">Our Aims</a>

                        </li>
                        <li>
                            <a href="wheremoney.html">Where the money goes?</a>
                        </li>
                        <li>
                            <a href="involved.html">Get Involved!</a>
                        </li>
                    </ul>
                </li>
                  <li>
                    <a href="">Library</a>

                </li>
                <li>
                    <a href="FAQ.html">F.A.Q</a>

                </li>
            </ul>
        </nav>
        <div id="cTest"><p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

</p></div>
</body>
</html>