<html>
<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/welcome.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
    <Title>Welcome</Title>

</head>
<body id="welcome">
<img id="splashImg" src="{{ MEDIA_URL }}1.jpg">
<h1 id="title">Welcome to Chimbo Online</h1>

<h2 id = "registerheader">Please Register Below</h2>

<form action="/signup/" method="post">
    {% csrf_token %}
    {{ regForm.as_table }}
</form>


</body>
</html>