<html>
    <head>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/welcome.css' %}">
        <Title>Welcome</Title>
    </head>
    <body id="welcome">
        <img id="splashImg" src="{{ MEDIA_URL }}/1.jpg">
        <h1 id="title">Welcome to Chimbo Online</h1>
        <div id="buttons">
            <a class="aButton" >
                Learn More
            </a>
            <a class="aButton">
                Log In
            </a>
            <a class="aButton">
                Sign up
            </a>
        </div>
    </body>
</html>