.fieldWrapper {
    margin: auto;
    text-align: center;
    display: block;
    margin-top: 1.4em;
    padding: 0.6em;
    width: 15em;
}
.fieldWrapper input {
    border: none;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;
}

.fieldWrapper input:hover {
    border-bottom: solid 2px #00000c;
}

#registerHeader {
    padding-top: 1em;
    text-align: center;
}

#regButton input {
    background-color: #FFFFFF;
    color: #666666;
    display: inline-block;
    text-align: center;


}

a:visited {
    color:white;
}