.fieldWrapper {
    margin: auto;
    text-align: center;
    display: block;
    margin-top: 1.4em;
    padding: 0.6em;
    border: 1px solid #FFFFFF;
    width: 15em;
}
.fieldWrapper input {
    border: none;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;
}

.fieldWrapper input:hover {
    border-bottom: solid 2px #969696;
}


a:visited {
    color:white;
}