.fieldWrapper {
    margin: auto;
    text-align: center;
    display: block;
    margin-top: 1.4em;
    padding: 0.6em;
    border: 1px solid #FFFFFF;
    width: 15em;
}
.fieldWrapper input[type=text] {
    border: none;
    border-bottom: solid 2px #c9c9c9;
}


a:visited {
    color:white;
}