<html>
    <head>
        {% load staticfiles %}
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/welcome.css' %}">
    </head>

    <body>
        <img id="splashImg" src="{{ MEDIA_URL }}/1.jpg">
        <h1>Login</h1>
        <form action="/login/" method="post">
        {% csrf_token %}
        {% for field in loginForm %}
            <div class="fieldWrapper">
            {{ field }}
            </div>
        {% endfor %}
        <input type="submit" value="Login">
        </form>
    </body>
    <form>

    </form>
</html>