<html>
<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/welcome.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
    <Title>Welcome</Title>
</head>
<body id="welcome">
<img id="splashImg" src="{{ MEDIA_URL }}1.jpg">
<h1 id="title">Welcome to Chimbo Online</h1>

<p id ="registerHeader">Please Register Below</p>

<form action="/signup/" method="post">
    {% csrf_token %}
    {% for field in regForm %}
        <div class='fieldWrapper'>
        {{ field }}
        </div>
    {% endfor %}
    <div id="regButton" style="text-align:center;">
    <input type="submit" value="Register">
    </div>
</form>


</body>
</html>