<!doctype html>
<html class="no-js" lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/foundation.css' %}"/>
</head>
<body style="background-color: #D9D9D9">
<div class="top-bar card-1">
    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">Chimbo</li>
            <li>
                <a href="/courses/">Courses</a>
                <ul class="menu vertical">
                    <li><a href="#">Law</a></li>
                    <li><a href="#">Mathematics</a></li>
                    <li><a href="#">Computer Science</a></li>
                </ul>
            </li>
            <li><a href="#">Groups</a></li>
            <li><a href="#">News</a></li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li>
                <a href="https://www.facebook.com/chimboonline/">
                <img src="{% static 'media/fblogo.png' %}">
                </a>
            </li>
                 <li>
                <a href="https://twitter.com/ChimboOnline">
                <img src="{% static 'media/twitterlogo.png' %}" style="width:2em; height:2em;">
                </a>
            </li>
            <li><input type="search" placeholder="Search"></li>
            <li>
                <button type="button" class="button">Search</button>
            </li>

        </ul>
    </div>
</div>
<div style="padding-top: 1em;">
<div class="row">
    {% block nav %}
    {% endblock %}
    <div class="large-8 columns">
        <div class="card-1">
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
        </div>
    </div>
    <div class="large-2 columns"></div>
</div>
</div>



<script src="{% static 'js/vendor/jquery.js' %}"></script>
<script src="{% static 'js/vendor/what-input.js'%}"></script>
<script src="{% static 'js/vendor/foundation.min.js'%}"></script>
<script>
    $(document).foundation();
</script>

</body>
</html>