{% extends 'base.html' %}

{% block content %}
    {% for x in Years %}
        {% with y=forloop.counter0|add:"1" %}
            <h3>Year {{ y }}</h3>
            <hr></hr>
            <ul class="accordion" data-accordion role="tablist">
                {% for module in Modules %}
                    {% if module.year == y %}
                        <li class="accordion-item">
                        <a href="#panel{{ y }}d" role="tab" class="accordion-title" id="panel{{ y }}d-heading"
                           aria-controls="panel{{ y }}d">{{ module.title }}
                        </a>
                        <div id="panel{{ y }}d" class="accordion-content" role="tabpanel" data-tab-content
                             aria-labelledby="panel{{ y }}d-heading">
                            <ol>
                                {% for note in Notes %}
                                    {% if note.module == module %}
                                        <li><a href="/notes/?id={{ note.id }}">{{ note.title }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ol>
                        </div>
                    {% endif %}
                {% endfor %}

            </ul>

        {% endwith %}
    {% endfor %}
{% endblock %}




